<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>Title</title>
  <meta name="description" content="Description" />
  <link rel="icon" href=""><% for (key in htmlWebpackPlugin.files.js) { %>
  <script src="<%= htmlWebpackPlugin.files.js[key] %>"></script><% } %>
  <script src="./handler.js"></script>
</head>

<body>
  <div style="display: inline-flex;">
    <input id="eki-input" type="text" autocomplete="off" />
    <button onclick="alert(document.getElementById('eki-input').value || null)">submit</button>
  </div>
</body>

</html>
